* {
	padding: 0rem;
	margin: 0rem;
	border: 0rem;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
*::before,
*::after {
	display: inline-block;
}
html,
body {
	height: 100%;
}
body {
	line-height: 1;
	scrollbar-gutter: stable;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
input,
button,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	background-color: transparent;
}
input,
textarea {
	width: 100%;
}
label {
	display: inline-block;
}
button,
select,
option {
	cursor: pointer;
}
a {
	display: inline-block;
	color: inherit;
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
address {
	font-style: normal;
}
@font-face {font-family: TTCommons;font-display: swap;src: url("../assets/fonts/TTCommons-Regular.woff2") format("woff2");font-weight: 400;font-style: normal;}
@font-face {font-family: TTCommons;font-display: swap;src: url("../assets/fonts/TTCommons-Medium.woff2") format("woff2");font-weight: 500;font-style: normal;}
@font-face {font-family: TTCommons;font-display: swap;src: url("../assets/fonts/TTCommons-DemiBold.woff2") format("woff2");font-weight: 600;font-style: normal;}
@font-face {font-family: TTCommons;font-display: swap;src: url("../assets/fonts/TTCommons-Bold.woff2") format("woff2");font-weight: 700;font-style: normal;}
/* Generated by vite-plugin-svg-spritemap */
body {
  min-width: 20rem;
  color: #000;
  font-family: "TTCommons";
  font-size: 1rem;
}
[data-fls-scrolllock] body {
  overflow: hidden;
  touch-action: none;
  overscroll-behavior: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

[class*=__container] {
  max-width: 75rem;
  margin: 0 auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}/* Generated by vite-plugin-svg-spritemap *//* Generated by vite-plugin-svg-spritemap *//* Generated by vite-plugin-svg-spritemap *//* Generated by vite-plugin-svg-spritemap */
.rent {
  background-color: #f3f3f9;
}
.rent {
  /* .rent__inner */
}
.rent__inner {
  display: flex;
  justify-content: space-between;
}
.rent {
  /* .rent__img */
}
.rent__img {
  position: relative;
  width: 40.789474%;
  aspect-ratio: 465/422;
}
.rent__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
.rent {
  /* .rent__info */
}
.rent__info {
  width: 45.964912%; /* 524/1140 */
}
.rent {
  /* .rent__text */
}
.rent__text {
  font-weight: 500;
  font-size: 1.5rem;
  color: #929292;
}
.rent {
  /* .rent__title */
}
.rent__title {
  font-weight: 600;
  line-height: 114.583333%; /* 55/48 */
  text-transform: uppercase;
}

.container {
  max-width: 73.125rem;
  width: 100%;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  margin: 0 auto;
}

@media (width <= 73.0625em) {
  .rent__img {
    width: 45%;
  }
  .rent__info {
    width: 50%;
  }
}

@media (max-width: 47.99875em) {
  .rent__inner {
    flex-direction: column-reverse;
  }
  .rent__img {
    width: 100%;
    aspect-ratio: 465/350;
  }
  .rent__info {
    width: 100%;
    margin-bottom: 2.5rem;
  }
}

@media (max-width: 29.99875em) {
  .rent__img {
    aspect-ratio: 420/382;
  }
}

@media (width <= 28.75em) {
  .rent {
    padding-top: 2.5rem;
  }
  .rent {
    padding-bottom: 2.5rem;
  }
  .rent__title {
    font-size: 2.5rem;
  }
  .rent__title {
    margin-bottom: 1.125rem;
  }
}

@media (width > 28.75em) and (width <= 73.125em) {
  .rent {
    padding-top: clamp( 2.5rem , 0.88028169014375rem  +  5.6338028169vw , 5rem );
  }
  .rent {
    padding-bottom: clamp( 2.5rem , 0.88028169014375rem  +  5.6338028169vw , 5rem );
  }
  .rent__title {
    font-size: clamp( 2.5rem , 2.17605633803125rem  +  1.1267605634vw , 3rem );
  }
  .rent__title {
    margin-bottom: clamp( 1.125rem , 0.3961267605625rem  +  2.5352112676vw , 2.25rem );
  }
}

@media (width > 73.125em) {
  .rent {
    padding-top: 5rem;
  }
  .rent {
    padding-bottom: 5rem;
  }
  .rent__title {
    font-size: 3rem;
  }
  .rent__title {
    margin-bottom: 2.25rem;
  }
}