* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
*::before,
*::after {
	display: inline-block;
}
html,
body {
	height: 100%;
}
body {
	line-height: 1;
	scrollbar-gutter: stable;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
input,
button,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	background-color: transparent;
}
input,
textarea {
	width: 100%;
}
label {
	display: inline-block;
}
button,
select,
option {
	cursor: pointer;
}
a {
	display: inline-block;
	color: inherit;
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
address {
	font-style: normal;
}
@font-face {font-family: TTCommons;font-display: swap;src: url("../assets/fonts/TTCommons-Regular.woff2") format("woff2");font-weight: 400;font-style: normal;}
@font-face {font-family: TTCommons;font-display: swap;src: url("../assets/fonts/TTCommons-Medium.woff2") format("woff2");font-weight: 500;font-style: normal;}
@font-face {font-family: TTCommons;font-display: swap;src: url("../assets/fonts/TTCommons-DemiBold.woff2") format("woff2");font-weight: 600;font-style: normal;}
@font-face {font-family: TTCommons;font-display: swap;src: url("../assets/fonts/TTCommons-Bold.woff2") format("woff2");font-weight: 700;font-style: normal;}
/* Generated by vite-plugin-svg-spritemap */
body {
  min-width: 320px;
  color: #000;
  font-family: "TTCommons";
  font-size: 16px;
}
[data-fls-scrolllock] body {
  overflow: hidden;
  touch-action: none;
  overscroll-behavior: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

[class*=__container] {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.title {
  font-weight: 600;
  line-height: 1.1;
  font-size: 48px;
}
.title {
  text-transform: uppercase;
}
.title span {
  color: #00C2BA;
}

.btn {
  transition: all 0.4s;
  border-radius: 100px;
  padding: 20px 36px 18px;
  background-color: #3a3a3a;
  border: none;
  font-weight: 700;
  min-width: 205px;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}/* Generated by vite-plugin-svg-spritemap *//* Generated by vite-plugin-svg-spritemap *//* Generated by vite-plugin-svg-spritemap *//* Generated by vite-plugin-svg-spritemap */
.rent {
  background-color: #f3f3f9;
}
.rent {
  /* .rent__inner */
}
.rent__inner {
  display: flex;
  justify-content: space-between;
}
.rent {
  /* .rent__img */
}
.rent__img {
  position: relative;
  width: 40.789474%;
  aspect-ratio: 465/422;
}
.rent__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
.rent {
  /* .rent__info */
}
.rent__info {
  width: 45.964912%; /* 524/1140 */
}
.rent {
  /* .rent__text */
}
.rent__text {
  font-weight: 500;
  font-size: 24px;
  color: #929292;
}
.rent {
  /* .rent__title */
}
.rent__title {
  font-weight: 600;
  line-height: 114.583333%; /* 55/48 */
  text-transform: uppercase;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.equipment {
  /* .equipment__inner */
}
.equipment__inner {
  display: flex;
  justify-content: space-between;
}
.equipment {
  /* .equipment__body */
}
.equipment__body {
  margin-right: 11.22807%; /* 128/1140 */
}
.equipment {
  /* .equipment__title */
}
.equipment__title {
  margin-bottom: 18px;
}
.equipment {
  /* .equipment__text */
}
.equipment__text {
  font-weight: 500;
  width: 100%;
  line-height: 116.666667%; /* 28/24 */
  font-size: 24px;
  color: #929292;
}
.equipment {
  /* .equipment__img */
}
.equipment__img {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f3f9;
  padding: 40px 0;
  max-width: 522px;
}
.equipment__img img {
  height: 100%;
  max-width: 100%;
}
.equipment__items {
  display: grid;
  gap: 82px;
}
.equipment {
  /* .equipment__info */
}
.equipment__info {
  max-width: 37.807018%; /* 431/1140 */
}
.equipment {
  /* .equipment__subtitle */
}
.equipment__subtitle {
  font-weight: 600;
  font-size: 24px;
  text-transform: uppercase;
}
.equipment__subtitle {
  color: #00c2ba;
}
.equipment {
  /* .equipment__list */
}
.equipment__list {
  display: grid;
}
.equipment__list {
  margin-bottom: 40px;
}
.equipment {
  /* .equipment__item */
}
.equipment__button {
  transition: all 0.4s;
  border-radius: 100px;
  padding: 20px 36px 18px;
  background-color: #3a3a3a;
  border: none;
  font-weight: 700;
  min-width: 205px;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}
.equipment {
  /* .equipment__caption */
}
.equipment__caption {
  font-size: 18px;
  color: #929292;
  line-height: 1.15;
}

.item-equipment {
  display: flex;
  gap: 32px;
  /* .item-equipment__number */
}
.item-equipment__number {
  white-space: nowrap;
  font-weight: 500;
  font-size: 36px;
  text-align: right;
  color: #929292;
}
.item-equipment {
  /* .item-equipment__about */
}
.item-equipment__about {
  font-size: 18px;
  line-height: 1.15;
  color: #929292;
  display: grid;
  gap: 14px;
}
.item-equipment__about b {
  font-weight: 600;
  color: #000;
}

.repair {
  padding-top: 80px;
}
.repair {
  /* .repair__inner */
}
.repair__inner {
  display: flex;
  gap: 8.157895%; /* 93/1140 */
}
.repair {
  /* .repair__content */
}
.repair {
  /* .repair__title */
}
.repair {
  /* .repair__text */
}
.repair__text {
  font-weight: 500;
  font-size: 24px;
  color: #929292;
  margin-bottom: 40px;
  line-height: 1.15;
}
.repair {
  /* .repair__benefits */
}
.repair__benefits {
  border: 2px solid #00c2ba;
  padding: 20px;
  margin-bottom: 40px;
}
.repair__benefits ul {
  display: grid;
  gap: 16px;
  padding-left: 25px;
}
.repair__benefits ul li {
  font-weight: 400;
  font-size: 18px;
  color: #929292;
  list-style: disc;
}
.repair {
  /* .repair__subtitle */
}
.repair__subtitle {
  font-weight: 600;
  font-size: 24px;
  text-transform: uppercase;
  color: #00c2ba;
  margin-bottom: 18px;
}
.repair {
  /* .repair__button */
}
.repair {
  /* .repair__image */
}
.repair__image {
  position: relative;
  flex: 0 0 37.7%;
  aspect-ratio: 430/713;
}
.repair__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
.repair {
  /* .repair__note */
}
.repair__note {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.15;
  color: #929292;
}
@media (width <= 73.0625em) {
  .rent__img {
    width: 45%;
  }
  .rent__info {
    width: 50%;
  }
}
@media (max-width: 61.99875em) {
  .title {
    font-size: 40px;
  }
  .equipment__body {
    margin-right: 30px; /* 128/1140 */
  }
  .equipment__info {
    max-width: 45%;
  }
  .repair__inner {
    gap: 25px;
  }
}
@media (max-width: 47.99875em) {
  .title {
    font-size: 36px;
  }
  .title {
    font-size: 28px;
  }
  .rent__inner {
    flex-direction: column-reverse;
  }
  .rent__img {
    width: 100%;
    aspect-ratio: 465/350;
  }
  .rent__info {
    width: 100%;
    margin-bottom: 40px;
  }
  .equipment__inner {
    flex-direction: column;
  }
  .equipment__body {
    margin-right: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .equipment__title {
    width: 100%;
  }
  .equipment__img {
    margin-bottom: 40px;
    max-width: 100%;
    width: 80%;
  }
  .equipment__info {
    max-width: none;
  }
}
@media (width <= 40.625em) {
  .repair__inner {
    flex-direction: column;
  }
  .repair__image {
    aspect-ratio: 420/620;
    margin-bottom: 40px;
  }
}
@media (max-width: 29.99875em) {
  .rent__img {
    aspect-ratio: 420/382;
  }
  .equipment__img {
    width: 100%;
  }
}
@media (width <= 28.75em) {
  .rent {
    padding-top: 40px;
  }
  .rent {
    padding-bottom: 40px;
  }
  .rent__title {
    font-size: 40px;
  }
  .rent__title {
    margin-bottom: 18px;
  }
  .equipment {
    padding-top: 40px;
  }
  .equipment {
    padding-bottom: 40px;
  }
  .equipment__text {
    margin-bottom: 40px;
  }
  .equipment__subtitle {
    margin-bottom: 18px;
  }
  .equipment__list {
    gap: 22px;
  }
  .equipment__caption {
    margin-top: 40px;
  }
  .item-equipment__about {
    gap: 8px;
  }
  .repair {
    padding-bottom: 40px;
  }
  .repair__title {
    margin-bottom: 18px;
  }
  .repair__note {
    margin-top: 40px;
  }
}
@media (width > 28.75em) and (width <= 73.125em) {
  .rent {
    padding-top: clamp( 40px , 14.0845070423px  +  5.6338028169vw , 80px );
  }
  .rent {
    padding-bottom: clamp( 40px , 14.0845070423px  +  5.6338028169vw , 80px );
  }
  .rent__title {
    font-size: clamp( 40px , 34.8169014085px  +  1.1267605634vw , 48px );
  }
  .rent__title {
    margin-bottom: clamp( 18px , 6.338028169px  +  2.5352112676vw , 36px );
  }
  .equipment {
    padding-top: clamp( 40px , 14.0845070423px  +  5.6338028169vw , 80px );
  }
  .equipment {
    padding-bottom: clamp( 40px , 14.0845070423px  +  5.6338028169vw , 80px );
  }
  .equipment__text {
    margin-bottom: clamp( 40px , 28.985915493px  +  2.3943661972vw , 57px );
  }
  .equipment__subtitle {
    margin-bottom: clamp( 18px , 3.7464788732px  +  3.0985915493vw , 40px );
  }
  .equipment__list {
    gap: clamp( 22px , 18.1126760563px  +  0.8450704225vw , 28px );
  }
  .equipment__caption {
    margin-top: clamp( 40px , 27.0422535211px  +  2.8169014085vw , 60px );
  }
  .item-equipment__about {
    gap: clamp( 8px , 4.1126760563px  +  0.8450704225vw , 14px );
  }
  .repair {
    padding-bottom: clamp( 40px , 27.0422535211px  +  2.8169014085vw , 60px );
  }
  .repair__title {
    margin-bottom: clamp( 18px , 6.338028169px  +  2.5352112676vw , 36px );
  }
  .repair__note {
    margin-top: clamp( 40px , 27.0422535211px  +  2.8169014085vw , 60px );
  }
}
@media (min-width: 47.99875em) {
  .equipment__body {
    max-width: 48.77193%; /* 556/1140 */
  }
}
@media (width > 73.125em) {
  .rent {
    padding-top: 80px;
  }
  .rent {
    padding-bottom: 80px;
  }
  .rent__title {
    font-size: 48px;
  }
  .rent__title {
    margin-bottom: 36px;
  }
  .equipment {
    padding-top: 80px;
  }
  .equipment {
    padding-bottom: 80px;
  }
  .equipment__text {
    margin-bottom: 57px;
  }
  .equipment__subtitle {
    margin-bottom: 40px;
  }
  .equipment__list {
    gap: 28px;
  }
  .equipment__caption {
    margin-top: 60px;
  }
  .item-equipment__about {
    gap: 14px;
  }
  .repair {
    padding-bottom: 60px;
  }
  .repair__title {
    margin-bottom: 36px;
  }
  .repair__note {
    margin-top: 60px;
  }
}
@media (any-hover: hover), (pointer: fine) {
  html:not([data-fls-touch]) .btn:hover {
    background-color: #00aca5;
  }
  html:not([data-fls-touch]) .equipment__button:hover {
    background-color: #00aca5;
  }
}